<h1>lista roślinek</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>gatunek</th>
      <th>stan zdrowia</th>
      <th>Co ile dni podlewać</th>
      <th>Poziom nawodnienia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.species.name %></td>
        <td><%= plant.health_status %></td>
        <td><%= plant.irrigation_frequency_in_days %></td>
        <td><%= plant.species.irrigation_level %></td>
        <td><%= link_to 'Pokaż', plant %></td>
        <td><%= link_to 'Edytuj', edit_plant_path(plant) %></td>
        <td><%= link_to 'Skasuj', plant, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj roślinke', new_plant_path %>
